- name: Configure iLO serial port
  hosts: ilo
  gather_facts: no
  tasks:
    - name: Configure Serial port speed and enable it
      ansible.builtin.command:
        argv:
          - curl
          - "-k"
          - "-u"
          - "{{ user_and_pass }}"
          - "-H"
          - "Content-Type: application/json"
          - "-X"
          - "PATCH"
          - "--data"
          - "@serialport.json"
          - "https://{{ ansible_host }}/redfish/v1/Managers/1"
