{          "HttpsCertCSRSubjectValue": {
            "City": "Harstad",
            "CommonName": "{{ inventory_hostname }}",
            "Country": "NO",
            "IncludeIP": false,
            "OrgName": "Eirikz",
            "OrgUnit": "Eirikz",
            "State": "Harstad County"
}
}
